cffi==1.14.2
llvmlite==0.31.0
matplotlib==3.3.1
numba==0.47.0
numpy==1.19.2
opencv-python==4.4.0.42
pandas==1.1.1
scikit-image==0.17.2
scipy==1.5.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
torch==1.6.0
torchvision==0.7.0
tqdm==4.49.0
Pyyaml==5.4.1